<div class="row">
	<div class="pull-right">
		<a href="/bright_ideas">Bright Ideas</a> | <a href="/logout">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-2">
		<h5><%= @idea.user.name %> says: </h5>
	</div>
	<div class="col-lg-10 panel panel-default">
		<div class="panel-body">
			<p><%= @idea.content %></p>
		</div>
	</div>
</div>
<h3>People who liked this post: </h3>
<table class="table table-striped table-hover">
	<thead>
		<th>Alias</th>
		<th>Name</th>
	</thead>
	<tbody>
<% @idea.liking_users.each do |u| %>
		<tr>
			<td><a href="/users/<%= u.id %>"><%= u.alias %></a></td>
			<td><%= u.name %></td>
		</tr>
<% end %>
	</tbody>
</table>